.home-card-container {
    position: relative;
    width: 17rem; /* Tailwind w-60 */
    height: 25rem; /* Tailwind h-80 */
    overflow: hidden;
    display: flex;
    
}


.home-card-container-artist {
    position: relative;
    width: 17rem; /* Tailwind w-60 */
    height: 19rem; /* Tailwind h-80 */
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.home-card-container-artist:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow */
}

/* .home-card:hover {
    transform: scale(1.05);
} */
.home-card {
    position: relative;
    z-index: 0; /* Ensure main content is above the background */
    width: 100%;
    height: 100%;
    padding-top: 2rem; /* Tailwind pt-8 */
    background-color: rgba(31, 41, 55, 0.8); /* Tailwind bg-slate-800 with transparency */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); /* Tailwind shadow-lg */
    transition: transform 0.3s ease;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
     /* Adjust the blur amount here */
    z-index: -1; /* Place it behind the card content */
}

.home-card img {
    width: 12rem; /* Tailwind w-44 */
    height: 12rem; /* Tailwind h-44 */
    object-fit: cover;
}

.home-card .font-bold {
    color: white;
    text-align: center;
    padding-top: 1rem; /* Tailwind pt-4 */
}

.home-card .text-rev-color {
    color: var(--rev-color); /* Define your custom color variable */
    text-align: center;
    overflow: auto;
}

.home-card .bg-orange-300 {
    background-color: #fbbf24; /* Tailwind bg-orange-300 */
    font-family: sans-serif;
    font-weight: 100; /* Tailwind font-thin */
    margin: 0.25rem; /* Tailwind m-1 */
    padding: 0.25rem; /* Tailwind px-1 */
}

.home-card hr {
    border-color: #6b7280; /* Tailwind border-gray-500 */
    margin-top: 0.5rem; /* Tailwind mt-2 */
}

.home-card .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em; /* Adjust height based on the number of lines */
    line-height: 1.5em; /* Adjust line height */
    max-height: 4.5em; /* Ensure max height matches line height * number of lines */
}
